In [113]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
##import sweetviz as sv
##from pandas_profiling import ProfileReport
##from autoviz.AutoViz_Class import AutoViz_Class
from sklearn.impute import KNNImputer
from sklearn.impute import SimpleImputer
##from statsmodels.stats.outliers_influence import variance_inflation_factor
##from scipy.stats import chi2_contingency
##from scipy.stats import chi2
from sklearn.compose import ColumnTransformer,make_column_transformer
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.base import BaseEstimator,TransformerMixin
from sklearn.preprocessing import OneHotEncoder
import joblib

%matplotlib inline

In [25]:
##This is to display the numerical values as decimals instead of scientific notations like 5.951188e+08
pd.set_option('float_format', '{:f}'.format)

In [3]:
data=pd.read_csv('D:\\iNeuron\\intership_2\\credit.csv')

In [4]:
X=data[['Loan ID', 'Customer ID', 'Current Loan Amount', 'Term',
       'Credit Score', 'Annual Income', 'Years in current job',
       'Home Ownership', 'Purpose', 'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens']]

In [5]:
y=data['Loan Status']

In [41]:
X.head()

,Loan ID,Customer ID,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,445412,Short Term,709.000000,1167493.000000,8 years,Home Mortgage,Home Improvements,5214.740000,17.200000,nan,6,1,228190,416746.000000,1.000000,0.000000
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,262328,Short Term,nan,nan,10+ years,Home Mortgage,Debt Consolidation,33295.980000,21.100000,8.000000,35,0,229976,850784.000000,0.000000,0.000000
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,99999999,Short Term,741.000000,2231892.000000,8 years,Own Home,Debt Consolidation,29200.530000,14.900000,29.000000,18,1,297996,750090.000000,0.000000,0.000000
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,347666,Long Term,721.000000,806949.000000,3 years,Own Home,Debt Consolidation,8741.900000,12.000000,nan,9,0,256329,386958.000000,0.000000,0.000000
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,176220,Short Term,nan,nan,5 years,Rent,Debt Consolidation,20639.700000,6.100000,nan,15,0,253460,427174.000000,0.000000,0.000000

In [4]:
data.columns

Index(['Loan ID', 'Customer ID', 'Loan Status', 'Current Loan Amount', 'Term',
       'Credit Score', 'Annual Income', 'Years in current job',
       'Home Ownership', 'Purpose', 'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens'],
      dtype='object')

In [6]:
data.describe()

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
count,1.100000e+05,88865.000000,8.886500e+04,110000.000000,110000.000000,51553.000000,110000.000000,110000.000000,1.100000e+05,1.099980e+05,109774.000000,109989.000000
mean,1.174621e+07,1076.594644,1.377449e+06,18468.526823,18.202485,34.907086,11.124491,0.168055,2.942822e+05,7.541012e+05,0.117614,0.029448
std,3.176716e+07,1475.581902,1.063920e+06,12195.564391,7.015575,21.965315,5.011093,0.484389,3.772773e+05,8.014002e+06,0.351290,0.261054
min,1.080200e+04,585.000000,7.662700e+04,0.000000,3.600000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,1.795860e+05,705.000000,8.488440e+05,10211.930000,13.500000,16.000000,8.000000,0.000000,1.121950e+05,2.731575e+05,0.000000,0.000000
50%,3.120260e+05,724.000000,1.173459e+06,16202.440000,16.900000,32.000000,10.000000,0.000000,2.096650e+05,4.673900e+05,0.000000,0.000000
75%,5.239300e+05,741.000000,1.651670e+06,23997.522500,21.700000,51.000000,14.000000,0.000000,3.674838e+05,7.831945e+05,0.000000,0.000000
max,1.000000e+08,7510.000000,1.655574e+08,435843.280000,70.500000,176.000000,76.000000,15.000000,3.287897e+07,1.539738e+09,7.000000,15.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110000 entries, 0 to 109999
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       110000 non-null  object
 1   Customer ID                   110000 non-null  object
 2   Loan Status                   110000 non-null  object
 3   Current Loan Amount           110000 non-null  int64
 4   Term                          110000 non-null  object
 5   Credit Score                  88865 non-null   float64
 6   Annual Income                 88865 non-null   float64
 7   Years in current job          105351 non-null  object
 8   Home Ownership                110000 non-null  object
 9   Purpose                       110000 non-null  object
 10  Monthly Debt                  110000 non-null  float64
 11  Years of Credit History       110000 non-null  float64
 12  Months since last delinquent  51553 non-null   float64
 13  Number of Open Accounts       110000 non-null  int64
 14  Number of Credit Problems     110000 non-null  int64
 15  Current Credit Balance        110000 non-null  int64
 16  Maximum Open Credit           109998 non-null  float64
 17  Bankruptcies                  109774 non-null  float64
 18  Tax Liens                     109989 non-null  float64
dtypes: float64(8), int64(4), object(7)
memory usage: 15.9+ MB

In [8]:
##Creating list of columns that needs to be dropped
#REfer EDA file why certain columns are getting dropped

drop_cols=['Loan ID', 'Customer ID','Bankruptcies','Tax Liens']

In [7]:
## Ideally we would have splitted the numerical cols and categorical cols 
##But few columns we will convert after some feature engneering then segregate the columns

## Custom Functions

### 1. Years in current job

In [9]:
def WorkExpConv(data):
    Years=[]
    for i in data['Years in current job']:
        
    
        if i=='8 years':
            Years.append(8)
        elif i=='6 years':
            Years.append(6)
        elif i=='3 years':
            Years.append(3)
        elif i=='5 years':
            Years.append(5)
        elif i=='< 1 year':
            Years.append(0.8)
        elif i=='2 years':
            Years.append(2)
        elif i=='4 years':
            Years.append(4)
        elif i=='9 years':
            Years.append(9)
        elif i=='7 years':
            Years.append(7)
        elif i=='1 year':
            Years.append(1)
        else :
        
            Years.append(10)
    data['Years in current job']=Years
    
    return data

In [10]:
class WorkExDataTypeConverter():
    
    def __init__(self,func):
        self.func=func
        
    def transform(self,data,**transform_params):
        return self.func(data)
    
    def fit(self,X,y=None,**fit_params):
        return self

### 2. Credit Score

In [11]:
def high_credit_score(data):
    
    New_Credit_Score=[]
    for i in data['Credit Score']:
        
        if np.isnan(i):
            New_Credit_Score.append(i)
        else :
            if float(str(i)[:3])>900:
                 New_Credit_Score.append(900.0)
            else :
                 New_Credit_Score.append(float(str(i)[:3]))
    data['Credit Score'] = New_Credit_Score               
    return data

In [12]:
class CreditScoreNormalizer():
    
    
    def __init__(self,func):
        self.func=func
        
    def transform(self,data,**transform_params):
        return self.func(data)
    
    def fit(self,X,y=None,**fit_params):
        return self

### 3. Current Loan Amount

In [13]:
def CurrentLoanAmt(data):
    
    data.replace({'Current Loan Amount':{99999999.000000:0}},inplace=True)
    data['Current Loan Amount'].replace(0,np.nan,inplace=True)
    
    return data

In [14]:
class CurrentLoanNormalizer():
    
    def __init__(self,func):
        self.func=func
        
    def transform(self,data,**transform_params):
        
        
        return self.func(data)
    
    def fit(self,X,y=None,**fit_params):
        return self

# Refer Column Transformer & Pipelines from here

### Using the BaseClass for Custom Column Transform

In [15]:
##Work Exp
class ExpTextToNum(BaseEstimator,TransformerMixin):
    
    def __init__(self):
        self.data=data
        
    def fit(self,X,y=None):
        return self
    
    def transform(self,X,y=None):
        
        
        Years=[]
        for i in X['Years in current job']:
        
    
            if i=='8 years':
                Years.append(8)
            elif i=='6 years':
                Years.append(6)
            elif i=='3 years':
                Years.append(3)
            elif i=='5 years':
                Years.append(5)
            elif i=='< 1 year':
                Years.append(0.8)
            elif i=='2 years':
                Years.append(2)
            elif i=='4 years':
                Years.append(4)
            elif i=='9 years':
                Years.append(9)
            elif i=='7 years':
                Years.append(7)
            elif i=='1 year':
                Years.append(1)
            else :
        
                Years.append(10)
        X['Years in current job']=Years
    
        return X

In [16]:
'''WorkExp_ct=ColumnTransformer([('ct1',ExpTextToNum(),['Years in current job']),('step2','drop',['Loan ID', 'Customer ID'])
                             ],remainder='passthrough')'''

In [61]:
WorkExp_ct=make_column_transformer((ExpTextToNum(),['Years in current job']),('drop',['Loan ID', 'Customer ID']),remainder='passthrough')

In [62]:
pd.DataFrame(WorkExp_ct.fit_transform(X))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,8.000000,445412,Short Term,709.000000,1167493.000000,Home Mortgage,Home Improvements,5214.740000,17.200000,NaN,6,1,228190,416746.000000,1.000000,0.000000
1,10.000000,262328,Short Term,NaN,NaN,Home Mortgage,Debt Consolidation,33295.980000,21.100000,8.000000,35,0,229976,850784.000000,0.000000,0.000000
2,8.000000,99999999,Short Term,741.000000,2231892.000000,Own Home,Debt Consolidation,29200.530000,14.900000,29.000000,18,1,297996,750090.000000,0.000000,0.000000
3,3.000000,347666,Long Term,721.000000,806949.000000,Own Home,Debt Consolidation,8741.900000,12.000000,NaN,9,0,256329,386958.000000,0.000000,0.000000
4,5.000000,176220,Short Term,NaN,NaN,Rent,Debt Consolidation,20639.700000,6.100000,NaN,15,0,253460,427174.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109995,6.000000,157806,Short Term,731.000000,1514376.000000,Rent,Debt Consolidation,4795.410000,12.500000,NaN,9,0,87058,234410.000000,0.000000,0.000000
109996,4.000000,132550,Short Term,718.000000,763192.000000,Home Mortgage,Debt Consolidation,12401.870000,9.900000,20.000000,8,0,74309,329692.000000,0.000000,0.000000
109997,10.000000,223212,Long Term,NaN,NaN,Rent,Debt Consolidation,4354.420000,27.200000,NaN,8,1,99636,568370.000000,1.000000,0.000000
109998,10.000000,99999999,Short Term,721.000000,972097.000000,Home Mortgage,Debt Consolidation,12232.200000,16.800000,24.000000,8,1,184984,240658.000000,0.000000,0.000000
109999,6.000000,99999999,Short Term,748.000000,1079960.000000,Home Mortgage,Debt Consolidation,12239.610000,19.700000,NaN,14,0,179018,607882.000000,0.000000,0.000000

In [42]:

##the column in the column transformer comes in the first index
pd.DataFrame(WorkExp_ct.fit_transform(X),columns=['Years in current job','Current Loan Amount', 'Term',
       'Credit Score', 'Annual Income', 
       'Home Ownership', 'Purpose', 'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens'])

,Years in current job,Current Loan Amount,Term,Credit Score,Annual Income,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,8,445412,Short Term,709,1.16749e+06,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6,1,228190,416746,1,0
1,10,262328,Short Term,NaN,NaN,Home Mortgage,Debt Consolidation,33296,21.1,8,35,0,229976,850784,0,0
2,8,99999999,Short Term,741,2.23189e+06,Own Home,Debt Consolidation,29200.5,14.9,29,18,1,297996,750090,0,0
3,3,347666,Long Term,721,806949,Own Home,Debt Consolidation,8741.9,12,NaN,9,0,256329,386958,0,0
4,5,176220,Short Term,NaN,NaN,Rent,Debt Consolidation,20639.7,6.1,NaN,15,0,253460,427174,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109995,6,157806,Short Term,731,1.51438e+06,Rent,Debt Consolidation,4795.41,12.5,NaN,9,0,87058,234410,0,0
109996,4,132550,Short Term,718,763192,Home Mortgage,Debt Consolidation,12401.9,9.9,20,8,0,74309,329692,0,0
109997,10,223212,Long Term,NaN,NaN,Rent,Debt Consolidation,4354.42,27.2,NaN,8,1,99636,568370,1,0
109998,10,99999999,Short Term,721,972097,Home Mortgage,Debt Consolidation,12232.2,16.8,24,8,1,184984,240658,0,0
109999,6,99999999,Short Term,748,1.07996e+06,Home Mortgage,Debt Consolidation,12239.6,19.7,NaN,14,0,179018,607882,0,0

In [30]:
X.head()

,Loan ID,Customer ID,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,445412,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6,1,228190,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,262328,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35,0,229976,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,99999999,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18,1,297996,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,347666,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9,0,256329,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,176220,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15,0,253460,427174.0,0.0,0.0

In [17]:
## Credit Score

class CreditScoreNormalizer(BaseEstimator,TransformerMixin) :
    
    def __init__(self):
        self.data=data
    def fit(self,X,y=None):
        return self
    def transform(self,X,y=None):
        
        New_Credit_Score=[]
        for i in X['Credit Score']:

            if np.isnan(i):
                New_Credit_Score.append(i)
            else :
                if float(str(i)[:3])>900:
                     New_Credit_Score.append(900.0)
                else :
                     New_Credit_Score.append(float(str(i)[:3]))
        X['Credit Score'] = New_Credit_Score               
        return X

In [18]:
'''CreditScore_ct=ColumnTransformer([('step1',CreditScoreNormalizer(),['Credit Score'])],remainder='passthrough')'''

In [63]:
CreditScore_ct=make_column_transformer((CreditScoreNormalizer(),['Credit Score']),remainder='passthrough')

In [64]:
pd.DataFrame(CreditScore_ct.fit_transform(X))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,709.000000,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,445412,Short Term,1167493.000000,8 years,Home Mortgage,Home Improvements,5214.740000,17.200000,NaN,6,1,228190,416746.000000,1.000000,0.000000
1,NaN,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,262328,Short Term,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.980000,21.100000,8.000000,35,0,229976,850784.000000,0.000000,0.000000
2,741.000000,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,99999999,Short Term,2231892.000000,8 years,Own Home,Debt Consolidation,29200.530000,14.900000,29.000000,18,1,297996,750090.000000,0.000000,0.000000
3,721.000000,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,347666,Long Term,806949.000000,3 years,Own Home,Debt Consolidation,8741.900000,12.000000,NaN,9,0,256329,386958.000000,0.000000,0.000000
4,NaN,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,176220,Short Term,NaN,5 years,Rent,Debt Consolidation,20639.700000,6.100000,NaN,15,0,253460,427174.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109995,731.000000,c4ab66f9-833c-43b8-879c-4f8bcb64dd14,8ee2002b-8fb6-4af0-ab74-25a1c23e7647,157806,Short Term,1514376.000000,6 years,Rent,Debt Consolidation,4795.410000,12.500000,NaN,9,0,87058,234410.000000,0.000000,0.000000
109996,718.000000,bbd3a392-01b4-4e0e-9c28-b2a4a39beac7,6c306306-f5c2-4db5-b74a-af2895123ecb,132550,Short Term,763192.000000,4 years,Home Mortgage,Debt Consolidation,12401.870000,9.900000,20.000000,8,0,74309,329692.000000,0.000000,0.000000
109997,NaN,da9870de-4280-46a3-8fc6-91cfe5bfde9d,cc94e25e-1060-4465-b603-194e122f0239,223212,Long Term,NaN,NaN,Rent,Debt Consolidation,4354.420000,27.200000,NaN,8,1,99636,568370.000000,1.000000,0.000000
109998,721.000000,0cc8e0e0-1bc6-49d7-ad0f-0598b647458f,f90cf410-a34b-49e7-8af9-2b405e17b827,99999999,Short Term,972097.000000,10+ years,Home Mortgage,Debt Consolidation,12232.200000,16.800000,24.000000,8,1,184984,240658.000000,0.000000,0.000000
109999,748.000000,14f94b64-26c4-48fd-b916-1388d7adcc1d,f1838fa9-7ad9-44d5-97a6-7a6d3f3529d7,99999999,Short Term,1079960.000000,6 years,Home Mortgage,Debt Consolidation,12239.610000,19.700000,NaN,14,0,179018,607882.000000,0.000000,0.000000

In [69]:
##16thfeb check 
#Checking make_pipeline check for two columns
pip1=make_pipeline(WorkExp_ct)

In [72]:
pip1.fit_transform(X)

array([[8.0, 445412, 'Short Term', ..., 416746.0, 1.0, 0.0],
       [10.0, 262328, 'Short Term', ..., 850784.0, 0.0, 0.0],
       [8.0, 99999999, 'Short Term', ..., 750090.0, 0.0, 0.0],
       ...,
       [10.0, 223212, 'Long Term', ..., 568370.0, 1.0, 0.0],
       [10.0, 99999999, 'Short Term', ..., 240658.0, 0.0, 0.0],
       [6.0, 99999999, 'Short Term', ..., 607882.0, 0.0, 0.0]],
      dtype=object)

In [73]:
pip2=make_pipeline(WorkExp_ct,WorkExp_ct)

In [74]:
pip2.fit_transform(X)
### This throws error
### ValueError: Specifying the columns using strings is only supported for pandas DataFrames

ValueError: Specifying the columns using strings is only supported for pandas DataFrames

In [76]:
##We will now combine the column transformers and then run in pipeline
ct1=make_column_transformer((ExpTextToNum(),['Years in current job']),(CreditScoreNormalizer(),['Credit Score']),('drop',['Loan ID', 'Customer ID']),remainder='passthrough')

In [77]:
pd.DataFrame(ct1.fit_transform(X))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,8.000000,709.000000,445412,Short Term,1167493.000000,Home Mortgage,Home Improvements,5214.740000,17.200000,NaN,6,1,228190,416746.000000,1.000000,0.000000
1,10.000000,NaN,262328,Short Term,NaN,Home Mortgage,Debt Consolidation,33295.980000,21.100000,8.000000,35,0,229976,850784.000000,0.000000,0.000000
2,8.000000,741.000000,99999999,Short Term,2231892.000000,Own Home,Debt Consolidation,29200.530000,14.900000,29.000000,18,1,297996,750090.000000,0.000000,0.000000
3,3.000000,721.000000,347666,Long Term,806949.000000,Own Home,Debt Consolidation,8741.900000,12.000000,NaN,9,0,256329,386958.000000,0.000000,0.000000
4,5.000000,NaN,176220,Short Term,NaN,Rent,Debt Consolidation,20639.700000,6.100000,NaN,15,0,253460,427174.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109995,6.000000,731.000000,157806,Short Term,1514376.000000,Rent,Debt Consolidation,4795.410000,12.500000,NaN,9,0,87058,234410.000000,0.000000,0.000000
109996,4.000000,718.000000,132550,Short Term,763192.000000,Home Mortgage,Debt Consolidation,12401.870000,9.900000,20.000000,8,0,74309,329692.000000,0.000000,0.000000
109997,10.000000,NaN,223212,Long Term,NaN,Rent,Debt Consolidation,4354.420000,27.200000,NaN,8,1,99636,568370.000000,1.000000,0.000000
109998,10.000000,721.000000,99999999,Short Term,972097.000000,Home Mortgage,Debt Consolidation,12232.200000,16.800000,24.000000,8,1,184984,240658.000000,0.000000,0.000000
109999,6.000000,748.000000,99999999,Short Term,1079960.000000,Home Mortgage,Debt Consolidation,12239.610000,19.700000,NaN,14,0,179018,607882.000000,0.000000,0.000000

In [42]:
#testing combined column transformer
'''ct_combo_1=make_column_transformer((ExpTextToNum(),['Years in current job']),(CreditScore_ct,['Credit Score']),('drop',drop_cols),remainder='passthrough'''')

In [43]:
##pd.DataFrame(ct_combo_1.fit_transform(X))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,8,709,445412,Short Term,1.16749e+06,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6,1,228190,416746
1,10,NaN,262328,Short Term,NaN,Home Mortgage,Debt Consolidation,33296,21.1,8,35,0,229976,850784
2,8,741,99999999,Short Term,2.23189e+06,Own Home,Debt Consolidation,29200.5,14.9,29,18,1,297996,750090
3,3,721,347666,Long Term,806949,Own Home,Debt Consolidation,8741.9,12,NaN,9,0,256329,386958
4,5,NaN,176220,Short Term,NaN,Rent,Debt Consolidation,20639.7,6.1,NaN,15,0,253460,427174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109995,6,731,157806,Short Term,1.51438e+06,Rent,Debt Consolidation,4795.41,12.5,NaN,9,0,87058,234410
109996,4,718,132550,Short Term,763192,Home Mortgage,Debt Consolidation,12401.9,9.9,20,8,0,74309,329692
109997,10,NaN,223212,Long Term,NaN,Rent,Debt Consolidation,4354.42,27.2,NaN,8,1,99636,568370
109998,10,721,99999999,Short Term,972097,Home Mortgage,Debt Consolidation,12232.2,16.8,24,8,1,184984,240658
109999,6,748,99999999,Short Term,1.07996e+06,Home Mortgage,Debt Consolidation,12239.6,19.7,NaN,14,0,179018,607882

In [19]:
#CurrentLoanAmount

class CurrentLoanAmountNormalizer(BaseEstimator,TransformerMixin):
    
    def __init__(self):
        self.X=X
    def fit (self,X,y=None):
        return self
    
    def transform(self,X,y=None):
        X.replace({'Current Loan Amount':{99999999.000000:0}},inplace=True)
        X['Current Loan Amount'].replace(0,np.nan,inplace=True)
        
        return X

In [20]:
''''CurlnAmt_ct=make_column_transformer((CurrentLoanAmountNormalizer(),['Current Loan Amount']),remainder='passthrough')''''

In [ ]:
ct2=make_column_transformer((ExpTextToNum(),['Years in current job']),(CreditScoreNormalizer(),['Credit Score']),(CurrentLoanAmountNormalizer(),['Current Loan Amount']),('drop',['Loan ID', 'Customer ID']),remainder='passthrough')

In [80]:
##testing the combo
ct2=make_column_transformer((ExpTextToNum(),['Years in current job']),\
                             (CreditScore_ct,['Credit Score']),\
                             (CurrentLoanAmountNormalizer(),['Current Loan Amount']),\
                             ('drop',drop_cols),\
                             remainder='passthrough' )

In [87]:
ct2.fit_transform(X)

array([[8.0, 709.0, 445412.0, ..., 1, 228190, 416746.0],
       [10.0, nan, 262328.0, ..., 0, 229976, 850784.0],
       [8.0, 741.0, nan, ..., 1, 297996, 750090.0],
       ...,
       [10.0, nan, 223212.0, ..., 1, 99636, 568370.0],
       [10.0, 721.0, nan, ..., 1, 184984, 240658.0],
       [6.0, 748.0, nan, ..., 0, 179018, 607882.0]], dtype=object)

In [88]:
X.columns

Index(['Loan ID', 'Customer ID', 'Current Loan Amount', 'Term', 'Credit Score',
       'Annual Income', 'Years in current job', 'Home Ownership', 'Purpose',
       'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens'],
      dtype='object')

In [81]:
pd.DataFrame(ct2.fit_transform(X))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,8.000000,709.000000,445412.000000,Short Term,1167493.000000,Home Mortgage,Home Improvements,5214.740000,17.200000,NaN,6,1,228190,416746.000000
1,10.000000,NaN,262328.000000,Short Term,NaN,Home Mortgage,Debt Consolidation,33295.980000,21.100000,8.000000,35,0,229976,850784.000000
2,8.000000,741.000000,NaN,Short Term,2231892.000000,Own Home,Debt Consolidation,29200.530000,14.900000,29.000000,18,1,297996,750090.000000
3,3.000000,721.000000,347666.000000,Long Term,806949.000000,Own Home,Debt Consolidation,8741.900000,12.000000,NaN,9,0,256329,386958.000000
4,5.000000,NaN,176220.000000,Short Term,NaN,Rent,Debt Consolidation,20639.700000,6.100000,NaN,15,0,253460,427174.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109995,6.000000,731.000000,157806.000000,Short Term,1514376.000000,Rent,Debt Consolidation,4795.410000,12.500000,NaN,9,0,87058,234410.000000
109996,4.000000,718.000000,132550.000000,Short Term,763192.000000,Home Mortgage,Debt Consolidation,12401.870000,9.900000,20.000000,8,0,74309,329692.000000
109997,10.000000,NaN,223212.000000,Long Term,NaN,Rent,Debt Consolidation,4354.420000,27.200000,NaN,8,1,99636,568370.000000
109998,10.000000,721.000000,NaN,Short Term,972097.000000,Home Mortgage,Debt Consolidation,12232.200000,16.800000,24.000000,8,1,184984,240658.000000
109999,6.000000,748.000000,NaN,Short Term,1079960.000000,Home Mortgage,Debt Consolidation,12239.610000,19.700000,NaN,14,0,179018,607882.000000

In [82]:
class MonthDeliquent(BaseEstimator,TransformerMixin):
    def __init__(self):
        self.X=X
    def fit(self,X,y=None):
        return self
    def transform(self,X,y=None):
        X['Months since last delinquent']=X['Months since last delinquent'].replace(np.nan,0)
        
        return X

In [31]:
##combo Testing
##testing the combo
'''ct_combo_3=make_column_transformer((ExpTextToNum(),['Years in current job']),(CreditScore_ct,['Credit Score']),(CurrentLoanAmountNormalizer(),['Current Loan Amount']),(MonthDeliquent(),['Months since last delinquent']),('drop',drop_cols),remainder='passthrough' )'''

In [84]:
ct3=make_column_transformer((ExpTextToNum(),['Years in current job']),\
                             (CreditScore_ct,['Credit Score']),\
                             (CurrentLoanAmountNormalizer(),['Current Loan Amount']),\
                             (MonthDeliquent(),['Months since last delinquent']),\
                             ('drop',drop_cols),\
                             remainder='passthrough')

In [85]:
pd.DataFrame(ct3.fit_transform(X))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,8.000000,709.000000,445412.000000,0.000000,Short Term,1167493.000000,Home Mortgage,Home Improvements,5214.740000,17.200000,6,1,228190,416746.000000
1,10.000000,NaN,262328.000000,8.000000,Short Term,NaN,Home Mortgage,Debt Consolidation,33295.980000,21.100000,35,0,229976,850784.000000
2,8.000000,741.000000,NaN,29.000000,Short Term,2231892.000000,Own Home,Debt Consolidation,29200.530000,14.900000,18,1,297996,750090.000000
3,3.000000,721.000000,347666.000000,0.000000,Long Term,806949.000000,Own Home,Debt Consolidation,8741.900000,12.000000,9,0,256329,386958.000000
4,5.000000,NaN,176220.000000,0.000000,Short Term,NaN,Rent,Debt Consolidation,20639.700000,6.100000,15,0,253460,427174.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109995,6.000000,731.000000,157806.000000,0.000000,Short Term,1514376.000000,Rent,Debt Consolidation,4795.410000,12.500000,9,0,87058,234410.000000
109996,4.000000,718.000000,132550.000000,20.000000,Short Term,763192.000000,Home Mortgage,Debt Consolidation,12401.870000,9.900000,8,0,74309,329692.000000
109997,10.000000,NaN,223212.000000,0.000000,Long Term,NaN,Rent,Debt Consolidation,4354.420000,27.200000,8,1,99636,568370.000000
109998,10.000000,721.000000,NaN,24.000000,Short Term,972097.000000,Home Mortgage,Debt Consolidation,12232.200000,16.800000,8,1,184984,240658.000000
109999,6.000000,748.000000,NaN,0.000000,Short Term,1079960.000000,Home Mortgage,Debt Consolidation,12239.610000,19.700000,14,0,179018,607882.000000

In [90]:
#### Next step is input to knnimputer, but it needs a dataframe with column names
#### but output of the above col transformer is an array
#### So we are trying to  manualy create a transformer which will convert array to dataframe \
#### for that we will have to manually feed in the column names in correct sequect of the above out put


X.columns

Index(['Loan ID', 'Customer ID', 'Current Loan Amount', 'Term', 'Credit Score',
       'Annual Income', 'Years in current job', 'Home Ownership', 'Purpose',
       'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens'],
      dtype='object')

In [ ]:
##drop_cols=['Loan ID', 'Customer ID','Bankruptcies','Tax Liens']

In [ ]:
req_cols=['Current Loan Amount', 'Term', 'Credit Score',
       'Annual Income', 'Years in current job', 'Home Ownership', 'Purpose',
       'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit']

In [93]:
###As per the col transformers sequence we have to keep the col names
X.head(1)

,Loan ID,Customer ID,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,445412,Short Term,709.000000,1167493.000000,8 years,Home Mortgage,Home Improvements,5214.740000,17.200000,nan,6,1,228190,416746.000000,1.000000,0.000000

In [ ]:
new_cols=[ 'Years in current job','Credit Score','Current Loan Amount', 'Months since last delinquent', 'Term', 
       'Annual Income', 'Home Ownership', 'Purpose',
       'Monthly Debt', 'Years of Credit History',
       'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit']

In [91]:
pd.DataFrame(ct3.fit_transform(X))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,8.000000,709.000000,445412.000000,0.000000,Short Term,1167493.000000,Home Mortgage,Home Improvements,5214.740000,17.200000,6,1,228190,416746.000000
1,10.000000,NaN,262328.000000,8.000000,Short Term,NaN,Home Mortgage,Debt Consolidation,33295.980000,21.100000,35,0,229976,850784.000000
2,8.000000,741.000000,NaN,29.000000,Short Term,2231892.000000,Own Home,Debt Consolidation,29200.530000,14.900000,18,1,297996,750090.000000
3,3.000000,721.000000,347666.000000,0.000000,Long Term,806949.000000,Own Home,Debt Consolidation,8741.900000,12.000000,9,0,256329,386958.000000
4,5.000000,NaN,176220.000000,0.000000,Short Term,NaN,Rent,Debt Consolidation,20639.700000,6.100000,15,0,253460,427174.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109995,6.000000,731.000000,157806.000000,0.000000,Short Term,1514376.000000,Rent,Debt Consolidation,4795.410000,12.500000,9,0,87058,234410.000000
109996,4.000000,718.000000,132550.000000,20.000000,Short Term,763192.000000,Home Mortgage,Debt Consolidation,12401.870000,9.900000,8,0,74309,329692.000000
109997,10.000000,NaN,223212.000000,0.000000,Long Term,NaN,Rent,Debt Consolidation,4354.420000,27.200000,8,1,99636,568370.000000
109998,10.000000,721.000000,NaN,24.000000,Short Term,972097.000000,Home Mortgage,Debt Consolidation,12232.200000,16.800000,8,1,184984,240658.000000
109999,6.000000,748.000000,NaN,0.000000,Short Term,1079960.000000,Home Mortgage,Debt Consolidation,12239.610000,19.700000,14,0,179018,607882.000000

In [102]:
class ArrayToDf(BaseEstimator,TransformerMixin):
    
    def __init__(self):
        self.X=X
    def fit(self,X,y=None):
        return self
    def transform(self,X,y=None):
        X=pd.DataFrame(X,\
                       index=[i for i in range(X.shape[0])],\
                       columns=[ 'Years in current job','Credit Score','Current Loan Amount', \
                                'Months since last delinquent', 'Term', \
       'Annual Income', 'Home Ownership', 'Purpose',
       'Monthly Debt', 'Years of Credit History',
       'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit']
       
        
        )
        
        return X

In [105]:
pipchk=make_pipeline(ct3,ArrayToDf())

In [165]:
pipchk.fit_transform(X)

,Years in current job,Credit Score,Current Loan Amount,Months since last delinquent,Term,Annual Income,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit
0,8.000000,709.000000,445412.000000,0.000000,Short Term,1167493.000000,Home Mortgage,Home Improvements,5214.740000,17.200000,6,1,228190,416746.000000
1,10.000000,NaN,262328.000000,8.000000,Short Term,NaN,Home Mortgage,Debt Consolidation,33295.980000,21.100000,35,0,229976,850784.000000
2,8.000000,741.000000,NaN,29.000000,Short Term,2231892.000000,Own Home,Debt Consolidation,29200.530000,14.900000,18,1,297996,750090.000000
3,3.000000,721.000000,347666.000000,0.000000,Long Term,806949.000000,Own Home,Debt Consolidation,8741.900000,12.000000,9,0,256329,386958.000000
4,5.000000,NaN,176220.000000,0.000000,Short Term,NaN,Rent,Debt Consolidation,20639.700000,6.100000,15,0,253460,427174.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109995,6.000000,731.000000,157806.000000,0.000000,Short Term,1514376.000000,Rent,Debt Consolidation,4795.410000,12.500000,9,0,87058,234410.000000
109996,4.000000,718.000000,132550.000000,20.000000,Short Term,763192.000000,Home Mortgage,Debt Consolidation,12401.870000,9.900000,8,0,74309,329692.000000
109997,10.000000,NaN,223212.000000,0.000000,Long Term,NaN,Rent,Debt Consolidation,4354.420000,27.200000,8,1,99636,568370.000000
109998,10.000000,721.000000,NaN,24.000000,Short Term,972097.000000,Home Mortgage,Debt Consolidation,12232.200000,16.800000,8,1,184984,240658.000000
109999,6.000000,748.000000,NaN,0.000000,Short Term,1079960.000000,Home Mortgage,Debt Consolidation,12239.610000,19.700000,14,0,179018,607882.000000

# It worked !!!

In [99]:
###ct2.fit_transform(X).shape[0]

110000

In [100]:
###

In [101]:
type(ar)

list

In [35]:
## KNN to be added to the column trasnformer
##combo Testing
'''
ct_combo_4=make_column_transformer((ExpTextToNum(),['Years in current job']),(CreditScore_ct,['Credit Score']),\
                                   (CurrentLoanAmountNormalizer(),['Current Loan Amount']),\
                                   (MonthDeliquent(),['Months since last delinquent']),\
                                   (KNNImputer(),['Current Loan Amount', 'Credit Score', 'Annual Income',\
       'Years in current job', 'Monthly Debt', 'Years of Credit History',\
       'Months since last delinquent', 'Number of Open Accounts',\
       'Number of Credit Problems', 'Current Credit Balance',\
       'Maximum Open Credit']),('drop',drop_cols),remainder='passthrough' )'''


##Its throwing an error for string to float conversion because of KNN..need to check

In [36]:
''''pd.DataFrame(ct_combo_4.fit_transform(X))''''

ValueError: could not convert string to float: '8 years'

In [51]:
'''knn_ct=make_column_transformer((KNNImputer(),['Current Loan Amount', 'Credit Score', 'Annual Income',\
       'Years in current job', 'Monthly Debt', 'Years of Credit History',\
       'Months since last delinquent', 'Number of Open Accounts',\
       'Number of Credit Problems', 'Current Credit Balance',\
       'Maximum Open Credit']))'''

In [53]:
# TestingPipe
'''pip_1=make_pipeline(ct_combo_3,knn_ct)'''

In [50]:
'''pip_1.get_params'''

<bound method Pipeline.get_params of Pipeline(steps=[('columntransformer-1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('exptexttonum',
                                                  ExpTextToNum(),
                                                  ['Years in current job']),
                                                 ('columntransformer',
                                                  ColumnTransformer(remainder='passthrough',
                                                                    transformers=[('step1',
                                                                                   CreditScoreNormalizer(),
                                                                                   ['Credit '
                                                                                    'Score'])]),
                                                  ['Credit Score']),
                                                 ('currentloanamountnormalizer',
                                                  CurrentLoanAmountNorma...
                                                  ['Loan ID', 'Customer ID',
                                                   'Bankruptcies',
                                                   'Tax Liens'])])),
                ('columntransformer-2',
                 ColumnTransformer(transformers=[('knnimputer', KNNImputer(),
                                                  ['Current Loan Amount',
                                                   'Credit Score',
                                                   'Annual Income',
                                                   'Years in current job',
                                                   'Monthly Debt',
                                                   'Years of Credit History',
                                                   'Months since last '
                                                   'delinquent',
                                                   'Number of Open Accounts',
                                                   'Number of Credit Problems',
                                                   'Current Credit Balance',
                                                   'Maximum Open Credit'])]))])>

In [54]:
'''pip_1.fit_transform(X)'''
###above also throws error as knn output is nump aray and it doesnt have any fit method

ValueError: Specifying the columns using strings is only supported for pandas DataFrames

In [174]:
##Now that we have a dataframe input to KNN we can build a col transformer for Knn & add it to pipeline
knn_ct=make_column_transformer((KNNImputer(),['Current Loan Amount', 'Credit Score', 'Annual Income',\
       'Years in current job', 'Monthly Debt', 'Years of Credit History',\
       'Months since last delinquent', 'Number of Open Accounts',\
       'Number of Credit Problems', 'Current Credit Balance',\
       'Maximum Open Credit']),remainder='passthrough')

In [143]:
###Final Pipeline object for the numerical col
pipe_num=make_pipeline(ct3,ArrayToDf(),knn_ct)

In [144]:
pipe_num.fit_transform(X)

array([[445412.0, 709.0, 1167493.0, ..., 'Short Term', 'Home Mortgage',
        'Home Improvements'],
       [262328.0, 746.2, 1988475.4, ..., 'Short Term', 'Home Mortgage',
        'Debt Consolidation'],
       [379231.6, 741.0, 2231892.0, ..., 'Short Term', 'Own Home',
        'Debt Consolidation'],
       ...,
       [223212.0, 739.8, 1224584.2, ..., 'Long Term', 'Rent',
        'Debt Consolidation'],
       [260972.8, 721.0, 972097.0, ..., 'Short Term', 'Home Mortgage',
        'Debt Consolidation'],
       [334461.6, 748.0, 1079960.0, ..., 'Short Term', 'Home Mortgage',
        'Debt Consolidation']], dtype=object)

#### We are now have the pipeline steps ready for numerical value.

###### Next is for categorical columns .

In [111]:
###Home Ownership

class HomeOwnSpell(BaseEstimator,TransformerMixin):
    def __init__(self):
        self.X=X
    def fit(self,X,y=None):
        return self
    def transform(self,X,y=None):
        X.replace({'Home Ownership' :{'HaveMortgage':'Home Mortgage'}},inplace=True)
        return X

In [112]:
###Purpose
class PurposeSpell(BaseEstimator,TransformerMixin):
    def __init__(self):
        self.X=X
    def fit(self,X,y=None):
        return self
    def transform(self,X,y=None):
        X.replace({'Purpose':{'other':'Other','Take a Trip':'vacation'}},inplace=True)
        return X

In [149]:
###For categorical values we need one hot encoding also
ohe=OneHotEncoder(handle_unknown='ignore',sparse=False)

Like KNNimputer what we saw above the ohe is also dependent on some custom transformations.Also after ohe is done our dataset will have additional columns
created so we will apply this tranformation later as otherwise all preprocessing will have to work with a huge dataset

Also another challenge is that we have to provide only the categorical columns as input to the ohe 
otherwise it will convert the float also to multiple features which will be a disaster

In [125]:
###checking if pipeline be converted into column transformer
'''ct_pipe1=make_column_transformer((pipe_num,['Current Loan Amount', 'Credit Score', 'Annual Income',\
       'Years in current job', 'Monthly Debt', 'Years of Credit History',\
       'Months since last delinquent', 'Number of Open Accounts',\
       'Number of Credit Problems', 'Current Credit Balance',\
       'Maximum Open Credit']),remainder='passthrough')'''

###very weird expectation :D

##lets create seperate tranformers for cat
##get the cat columsn first

In [127]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110000 entries, 0 to 109999
Data columns (total 18 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       110000 non-null  object
 1   Customer ID                   110000 non-null  object
 2   Current Loan Amount           110000 non-null  int64
 3   Term                          110000 non-null  object
 4   Credit Score                  88865 non-null   float64
 5   Annual Income                 88865 non-null   float64
 6   Years in current job          105351 non-null  object
 7   Home Ownership                110000 non-null  object
 8   Purpose                       110000 non-null  object
 9   Monthly Debt                  110000 non-null  float64
 10  Years of Credit History       110000 non-null  float64
 11  Months since last delinquent  51553 non-null   float64
 12  Number of Open Accounts       110000 non-null  int64
 13  Number of Credit Problems     110000 non-null  int64
 14  Current Credit Balance        110000 non-null  int64
 15  Maximum Open Credit           109998 non-null  float64
 16  Bankruptcies                  109774 non-null  float64
 17  Tax Liens                     109989 non-null  float64
dtypes: float64(8), int64(4), object(6)
memory usage: 15.1+ MB

In [ ]:
cat_cols=[]

In [150]:
ohe_ct=make_column_transformer((ohe,['Term','Home Ownership','Purpose']),remainder='passthrough')

In [133]:
##combining and checking num and cat pipes\
ct_num_cat_1=make_column_transformer((ExpTextToNum(),['Years in current job']),\
                             (CreditScore_ct,['Credit Score']),\
                             (CurrentLoanAmountNormalizer(),['Current Loan Amount']),\
                             (MonthDeliquent(),['Months since last delinquent']),\
                             (HomeOwnSpell(),['Home Ownership']),\
                             (PurposeSpell(),['Purpose']),        
                             ('drop',drop_cols),\
                             remainder='passthrough')

In [136]:

##As categorical transformers are also applied so sequence of columns will also change
###So we have to update sequqnce of columns
updated_cols=[ 'Years in current job','Credit Score','Current Loan Amount', 'Months since last delinquent','Home Ownership', 'Purpose', 'Term', 
       'Annual Income', 
       'Monthly Debt', 'Years of Credit History',
       'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit']

In [166]:
####Creating a updated ArraytoDataframe class with updated columns
class ArrayToDfUpdated(BaseEstimator,TransformerMixin):
    
    def __init__(self):
        self.X=X
    def fit(self,X,y=None):
        return self
    def transform(self,X,y=None):
        X=pd.DataFrame(X,\
                       index=[i for i in range(X.shape[0])],\
                       columns=[ 'Years in current job','Credit Score','Current Loan Amount', 'Months since last delinquent','Home Ownership', 'Purpose', 'Term', 
       'Annual Income', 
       'Monthly Debt', 'Years of Credit History',
       'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit']
       
        
        )
        
        return X

In [182]:
####Creating a updated ArraytoDataframe class with updated columns
####This was required as knn column transformer is again changing the column sequence
class ArrayToDfUpdatedOhe(BaseEstimator,TransformerMixin):
    
    
    def __init__(self):
        self.X=X
    def fit(self,X,y=None):
        return self
    def transform(self,X,y=None):
        
        X=pd.DataFrame(X,\
                       index=[i for i in range(X.shape[0])],\
                       columns=[ 'Current Loan Amount', 'Credit Score', 'Annual Income',\
       'Years in current job', 'Monthly Debt', 'Years of Credit History',\
       'Months since last delinquent', 'Number of Open Accounts',\
       'Number of Credit Problems', 'Current Credit Balance',\
       'Maximum Open Credit','Home Ownership', 'Purpose', 'Term']
       
        
        )
        
        return X

In [177]:
pipe_check=make_pipeline(ct_num_cat_1,ArrayToDfUpdated(),knn_ct,ArrayToDfUpdatedOhe())

In [178]:
pipe_check.fit_transform(X)

,Current Loan Amount,Credit Score,Annual Income,Years in current job,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Home Ownership,Purpose,Term
0,445412.000000,709.000000,1167493.000000,8.000000,5214.740000,17.200000,0.000000,6.000000,1.000000,228190.000000,416746.000000,Home Mortgage,Home Improvements,Short Term
1,262328.000000,746.200000,1988475.400000,10.000000,33295.980000,21.100000,8.000000,35.000000,0.000000,229976.000000,850784.000000,Home Mortgage,Debt Consolidation,Short Term
2,379231.600000,741.000000,2231892.000000,8.000000,29200.530000,14.900000,29.000000,18.000000,1.000000,297996.000000,750090.000000,Own Home,Debt Consolidation,Short Term
3,347666.000000,721.000000,806949.000000,3.000000,8741.900000,12.000000,0.000000,9.000000,0.000000,256329.000000,386958.000000,Own Home,Debt Consolidation,Long Term
4,176220.000000,723.600000,1008877.200000,5.000000,20639.700000,6.100000,0.000000,15.000000,0.000000,253460.000000,427174.000000,Rent,Debt Consolidation,Short Term
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109995,157806.000000,731.000000,1514376.000000,6.000000,4795.410000,12.500000,0.000000,9.000000,0.000000,87058.000000,234410.000000,Rent,Debt Consolidation,Short Term
109996,132550.000000,718.000000,763192.000000,4.000000,12401.870000,9.900000,20.000000,8.000000,0.000000,74309.000000,329692.000000,Home Mortgage,Debt Consolidation,Short Term
109997,223212.000000,739.800000,1224584.200000,10.000000,4354.420000,27.200000,0.000000,8.000000,1.000000,99636.000000,568370.000000,Rent,Debt Consolidation,Long Term
109998,260972.800000,721.000000,972097.000000,10.000000,12232.200000,16.800000,24.000000,8.000000,1.000000,184984.000000,240658.000000,Home Mortgage,Debt Consolidation,Short Term
109999,334461.600000,748.000000,1079960.000000,6.000000,12239.610000,19.700000,0.000000,14.000000,0.000000,179018.000000,607882.000000,Home Mortgage,Debt Consolidation,Short Term

In [155]:
pipe_check2=make_pipeline(ct_num_cat_1,ArrayToDfUpdated())

In [156]:
pipe_check2.fit_transform(X)

,Years in current job,Credit Score,Current Loan Amount,Months since last delinquent,Home Ownership,Purpose,Term,Annual Income,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit
0,8.000000,709.000000,445412.000000,0.000000,Home Mortgage,Home Improvements,Short Term,1167493.000000,5214.740000,17.200000,6,1,228190,416746.000000
1,10.000000,NaN,262328.000000,8.000000,Home Mortgage,Debt Consolidation,Short Term,NaN,33295.980000,21.100000,35,0,229976,850784.000000
2,8.000000,741.000000,NaN,29.000000,Own Home,Debt Consolidation,Short Term,2231892.000000,29200.530000,14.900000,18,1,297996,750090.000000
3,3.000000,721.000000,347666.000000,0.000000,Own Home,Debt Consolidation,Long Term,806949.000000,8741.900000,12.000000,9,0,256329,386958.000000
4,5.000000,NaN,176220.000000,0.000000,Rent,Debt Consolidation,Short Term,NaN,20639.700000,6.100000,15,0,253460,427174.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109995,6.000000,731.000000,157806.000000,0.000000,Rent,Debt Consolidation,Short Term,1514376.000000,4795.410000,12.500000,9,0,87058,234410.000000
109996,4.000000,718.000000,132550.000000,20.000000,Home Mortgage,Debt Consolidation,Short Term,763192.000000,12401.870000,9.900000,8,0,74309,329692.000000
109997,10.000000,NaN,223212.000000,0.000000,Rent,Debt Consolidation,Long Term,NaN,4354.420000,27.200000,8,1,99636,568370.000000
109998,10.000000,721.000000,NaN,24.000000,Home Mortgage,Debt Consolidation,Short Term,972097.000000,12232.200000,16.800000,8,1,184984,240658.000000
109999,6.000000,748.000000,NaN,0.000000,Home Mortgage,Debt Consolidation,Short Term,1079960.000000,12239.610000,19.700000,14,0,179018,607882.000000

## Final PreProcessing Pipeline

In [179]:
###Trying to build the final pipeline
pipe_final=make_pipeline(ct_num_cat_1,ArrayToDfUpdated(),knn_ct,ArrayToDfUpdatedOhe(),ohe_ct)

In [180]:
pipe_final.fit_transform(X)

array([[0.0, 1.0, 1.0, ..., 1.0, 228190.0, 416746.0],
       [0.0, 1.0, 1.0, ..., 0.0, 229976.0, 850784.0],
       [0.0, 1.0, 0.0, ..., 1.0, 297996.0, 750090.0],
       ...,
       [1.0, 0.0, 0.0, ..., 1.0, 99636.0, 568370.0],
       [0.0, 1.0, 1.0, ..., 1.0, 184984.0, 240658.0],
       [0.0, 1.0, 1.0, ..., 0.0, 179018.0, 607882.0]], dtype=object)

### Finally Done!!!!

In [181]:
joblib.dump(pipe_final,'D:\\iNeuron\\intership_2\\Loan_Eligibility_PreprocessingPipeline.ml')

['D:\\iNeuron\\intership_2\\Loan_Eligibility_PreprocessingPipeline.ml']